body{

font-family:Arial,sans-serif;

background:#f4f2fb;

margin:0;

padding:30px;

}

.container{

max-width:900px;

margin:auto;

}

header{

text-align:center;

margin-bottom:30px;

}

h1{

color:#6d28d9;

}

h2{

color:#4c1d95;

}

.card{

background:white;

padding:30px;

border-radius:20px;

box-shadow:0 10px 30px rgba(0,0,0,0.08);

}

input{

width:100%;

padding:18px;

margin:12px 0;

font-size:18px;

border:1px solid #ddd;

border-radius:12px;

box-sizing:border-box;

}

button{

width:100%;

padding:20px;

border:none;

border-radius:12px;

background:#6d28d9;

color:white;

font-size:20px;

font-weight:bold;

cursor:pointer;

}

button:hover{

background:#5b21b6;

}

#resultado{

margin-top:30px;

}

.resultado-card{

background:white;

padding:30px;

border-radius:20px;

box-shadow:0 10px 30px rgba(0,0,0,0.08);

line-height:2;

}

footer{

margin-top:30px;

text-align:center;

color:#666;

}

.velocimetro{

height:20px;

background:#eee;

border-radius:50px;

overflow:hidden;

margin:20px 0;

}

.barra{

height:100%;

transition:.5s;

}
